/* === FIX TELEFONO Y BOTON ADMIN === */
#nombrebox, #telefonobox {
  width: 100%;
}
#nombre, #telefono {
  width: 100% !important;
  box-sizing: border-box;
  max-width: 100%;
}
#nombretext, #telefonotext {
  color: #ffffff !important;
}
#telefonotext {
  display: block !important;
}
.tag.admin {
  background: #111;
  border: 1px solid #d4ff00;
  display: flex;
  align-items: center;
  gap: 5px;
}
.tag.admin span {
  color: #d4ff00;
}
.tag.admin ion-icon {
  color: #d4ff00;
  font-size: 18px;
}
