*{box-sizing:border-box;margin:0;padding:0;font-family:Arial Black, Arial}
body{background:#001525;display:flex;justify-content:center;padding:10px}

.contenedor{width:100%;max-width:750px;background:#001525;border:4px solid #d4ff00}

.header{background:white;display:flex;align-items:center;gap:10px;padding:8px;border-bottom:4px solid #d4ff00}
.header img{width:60px;height:60px;border-radius:50%;border:3px solid #d4ff00}
.header h1{color:#b8a600;font-size:26px;line-height:24px;text-shadow:2px 2px 0 black}

.premio{background:#0a344a;color:white;text-align:center;padding:8px;font-family:Arial;font-weight:bold;border-bottom:3px solid #d4ff00}

.cargando{text-align:center;color:#d4ff00;padding:20px}

/* ESTA ES LA TABLA QUE REEMPLAZA TU IMAGEN */
#lista-partidos{padding:5px}

.tabla-encabezado{display:grid;grid-template-columns:50px 1fr 55px 50px 55px 1fr 50px;background:#001525;color:#d4ff00;text-align:center;padding:6px 0;font-size:11px;border-bottom:2px solid #d4ff00}

.fila-partido{position:relative;display:grid;grid-template-columns:50px 1fr 55px 50px 55px 1fr 50px;align-items:center;background:#d9e8f0;border:1px solid black;margin-bottom:2px;height:48px}

.fila-partido:nth-child(even){background:white}

.col-nombre{font-size:11px;color:black;text-align:center;line-height:11px;padding:2px;font-family:Arial Black}
.col-escudo{background:white;width:100%;height:100%;display:flex;align-items:center;justify-content:center;border-left:1px solid black;border-right:1px solid black}
.col-escudo img{width:40px;height:30px;object-fit:contain}

.boton{width:42px;height:32px;background:white;border:2px solid black;border-radius:5px;display:flex;align-items:center;justify-content:center;cursor:pointer;font-size:16px;color:black;margin:0 auto}
.boton.active{background:#e50000;color:white;border-color:white;box-shadow:0 0 5px black}

.info-partido{grid-column:1/-1;background:#d4ff00;color:black;font-family:Arial;font-size:9px;font-weight:bold;text-align:center;padding:2px;border-top:1px solid black}

/* FORMULARIO */
.formulario{padding:10px}
.formulario input{width:100%;padding:10px;margin-bottom:6px;border-radius:6px;border:2px solid black;font-family:Arial}
.fila-form{display:flex;gap:6px}
#numQuinielas{max-width:70px}
.btn-generar{flex:1;background:#d4ff00;border:2px solid black;border-radius:6px;font-family:Arial Black;cursor:pointer}
.btn-whats{flex:1;background:#25d366;color:white;border:2px solid black;border-radius:6px;padding:10px;font-family:Arial Black;cursor:pointer}
.btn-guardar{flex:1;background:#007bff;color:white;border:2px solid black;border-radius:6px;padding:10px;font-family:Arial Black;cursor:pointer}
#resultado{width:100%;height:120px;border:2px solid black;border-radius:6px;padding:8px;font-family:monospace;margin-top:6px}
#infoCosto{color:#d4ff00;font-family:Arial;font-weight:bold}
#infoIDs{color:#00ff88;font-family:Arial;font-weight:bold}
